.container {
  @media screen and (min-width: 300px) {
    width: 300px;
  }

  @media screen and (max-width: 300px) {
    width: 100vw;
  }

  .link {
    @media screen and (min-width: 300px) {
      width: 300px;
      height: 300px;
    }

    @media screen and (max-width: 300px) {
      width: 100vw;
      height: 100vw;
    }

    display: flex;
  }

  .img {
    width: inherit;
    height: inherit;
    object-fit: cover;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}
