<div class="container" *ngIf="!isLoadError && artwork.image_id">
  <a class="link" [routerLink]="['/artworks', artwork.id]">
    <img
      class="img"
      [src]="
        loaded
          ? 'https://www.artic.edu/iiif/2/' +
            artwork.image_id +
            '/full/843,/0/default.jpg'
          : artwork?.thumbnail?.lqip
      "
      [alt]="artwork?.thumbnail?.alt_text"
      (load)="onImageLoad($event)"
      (error)="onImageLoadError($event)"
    />
  </a>
  <h3>{{ artwork.title }}</h3>
  <p>{{ artwork.artist_display }}</p>
  <p>{{ artwork.date_display }}</p>
</div>
