<div class="container">
  <app-artwork-main-list [artworks]="artworks"></app-artwork-main-list>
  <div *ngIf="pagination" class="pagination">
    <button (click)="changePage('LEFT')" class="pagination__btn">
      <img
        src="/shared/assets/icons/arrow-right.svg"
        alt="left"
        class="arrow arrow-left"
      />
    </button>
    <input
      type="number"
      [value]="pagination.current_page"
      (change)="navigateToPage($event)"
    />
    <button (click)="changePage('RIGHT')" class="pagination__btn">
      <img
        src="/shared/assets/icons/arrow-right.svg"
        alt="right"
        class="arrow"
      />
    </button>
  </div>
</div>
